@charset "UTF-8";
/* 点付きリスト */
.c-list--dot {
  padding-left: 10px;
}
.c-list--dot li {
  position: relative;
  padding-left: 10px;
  line-height: 1.6;
}
@media screen and (min-width: 896px) {
  .c-list--dot li {
    padding-left: 15px;
  }
}
.c-list--dot li:before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  left: 0;
  top: 9px;
}
.c-list--dot li:not(:last-child) {
  margin-bottom: 0.5em;
}

/* よくある質問 */
.c-list--question {
  list-style: none;
}

/*-----------------------------------------------------------------------------------------



content



------------------------------------------------------------------------------------------*/
.c-contentList__box {
  padding: 20px 10px;
  border-bottom: 1px solid #EFEFEF;
}

.c-contentList__box__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* 横幅いっぱい */
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* 横並び */
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.c-contentList__box__img {
  width: 110px;
  margin-right: 10px;
}
@media screen and (min-width: 896px) {
  .c-contentList__box__img {
    width: 144px;
    margin-right: 20px;
  }
}

.c-contentList__box__info {
  flex: 1;
}
.c-contentList__box__info .number {
  margin-bottom: 10px;
}
@media screen and (min-width: 896px) {
  .c-contentList__box__info .number {
    margin-bottom: 15px;
  }
}
.c-contentList__box__info .number .other .stage {
  display: inline-block;
  padding: 3px 5px;
  margin-right: 5px;
  background: #373B50;
  color: #fff;
  font-size: 10px;
  border-radius: 3px;
}
@media screen and (min-width: 896px) {
  .c-contentList__box__info .number .other .stage {
    font-size: 12px;
  }
}
@media screen and (max-width: 897px) {
  .c-contentList__box__info .number .other .stage {
    margin-bottom: 3px;
  }
}
.c-contentList__box__info .number .other .date {
  font-weight: 700;
  font-size: 12px;
}
@media screen and (min-width: 896px) {
  .c-contentList__box__info .number .other .date {
    font-size: 16px;
  }
}
@media screen and (max-width: 897px) {
  .c-contentList__box__info .number .other .date {
    display: block;
  }
}
.c-contentList__box__info .number .price {
  font-weight: 700;
  color: #ED6C73;
}
@media screen and (min-width: 896px) {
  .c-contentList__box__info .number .price {
    font-size: 16px;
  }
}
@media screen and (max-width: 897px) {
  .c-contentList__box__info .number .price {
    text-align: right;
  }
}
.c-contentList__box__info .title {
  font-weight: 700;
  margin-bottom: 10px;
}
@media screen and (min-width: 896px) {
  .c-contentList__box__info .title {
    font-size: 16px;
  }
}
.c-contentList__box__info .detail {
  margin-bottom: 10px;
  color: #9F9F9F;
  font-size: 11px;
  line-height: 1.2;
}
@media screen and (min-width: 896px) {
  .c-contentList__box__info .detail {
    font-size: 13px;
  }
}
@media screen and (min-width: 896px) {
  .c-contentList__box__info .category {
    margin-bottom: 10px;
  }
}
.c-contentList__box__info .category span {
  display: inline-block;
  padding: 3px 10px;
  margin-right: 3px;
  border-radius: 30px;
  color: #ED6C73;
  border: 1px solid #ED6C73;
  font-size: 12px;
}
.c-contentList__box__info .teacher .teacherImg {
  border-radius: 50%;
  background: #fff;
  padding: 3px;
  margin-right: 10px;
  width: 45px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.c-contentList__box__info .teacher .teacherEvaluation img {
  width: 16px;
}
.c-contentList__box__info .teacher .teacherEvaluation .evaluationNumber {
  font-size: 12px;
  font-weight: 700;
}

/* テーブル */
@media screen and (max-width: 897px) {
  .c-list--table {
    background: #fff;
  }
}
.c-list--table .c-list--tr {
  padding: 15px 20px;
}
@media screen and (min-width: 896px) {
  .c-list--table .c-list--tr {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* 横幅いっぱい */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* 横並び */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.c-list--table .c-list--tr:not(:last-child) {
  border-bottom: 1px solid #F0F0F0;
}
@media screen and (min-width: 896px) {
  .c-list--table .c-list--th {
    width: 190px;
  }
}
@media screen and (max-width: 897px) {
  .c-list--table .c-list--th {
    margin-bottom: 7px;
  }
}
.c-list--table .c-list--th .main {
  font-weight: 700;
}
.c-list--table .c-list--th .sub {
  margin-top: 3px;
  font-size: .85em;
  color: #8B8B8B;
}
@media screen and (min-width: 896px) {
  .c-list--table .c-list--th .sub {
    margin-top: .5em;
  }
}
.c-list--table .c-list--td {
  flex: 1;
}
.c-list--table .c-list--td input:not([type=checkbox]):not([type=radio]),
.c-list--table .c-list--td select,
.c-list--table .c-list--td textarea {
  border: 1px solid #B4B4B4;
  width: 100%;
  padding: 10px;
  min-height: 38px;
  border-radius: 3px;
  resize: none;
}
.c-list--table .c-list--td textarea {
  height: 200px;
}

/* クレジットカードリスト */
.c-list--credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* 横並び */
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  border-radius: 3px;
  padding: 20px;
  border-bottom: 1px solid #EFEFEF;
}

.c-list--credit--status {
  width: 50px;
}
.c-list--credit--status span {
  display: inline-block;
  padding: 1px 3px;
  border-radius: 3px;
  background: #ED6C73;
  color: #fff;
  font-size: 12px;
}

.c-list--credit--card {
  flex: 1;
}
@media screen and (min-width: 896px) {
  .c-list--credit--card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* 横並び */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
}

.c-list--credit--card--type {
  font-weight: 700;
}
@media screen and (max-width: 897px) {
  .c-list--credit--card--type {
    margin-bottom: 3px;
  }
}
@media screen and (min-width: 896px) {
  .c-list--credit--card--type {
    width: 150px;
  }
}

.c-list--credit--card--detail {
  flex: 1;
  vertical-align: bottom;
}
.c-list--credit--card--detail span {
  color: #9D9D9D;
}
@media screen and (max-width: 897px) {
  .c-list--credit--card--detail span {
    font-size: 0.9em;
  }
}
.c-list--credit--card--detail span:first-child {
  display: inline-block;
  margin-right: 5px;
}
@media screen and (min-width: 896px) {
  .c-list--credit--card--detail span:first-child {
    margin-right: 10px;
  }
}

.c-list--credit--edit {
  width: 110px;
  text-align: right;
}
.c-list--credit--edit .edit-button {
  display: inline-block;
  width: 50px;
  padding: 3px 0;
  border-radius: 3px;
  background: #fff;
  text-align: center;
}
.c-list--credit--edit .edit-button.delete {
  border: 1px solid #ED6C73;
  color: #ED6C73;
}
.c-list--credit--edit .edit-button.edit {
  border: 1px solid #373B50;
  color: #373B50;
}

/* カテゴリー一覧 */
.c-list--category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* 横幅いっぱい */
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* 横並び */
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.c-list--category li {
  position: relative;
  margin-right: 5px;
  margin-bottom: 5px;
}
.c-list--category li label {
  color: #D6D6D6;
  padding: 5px 20px;
  border: 1px solid #D6D6D6;
  display: inline-block;
  border-radius: 30px;
}
.c-list--category li input {
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.c-list--category li input:checked ~ label {
  color: #ED6C73;
  border: 1px solid #ED6C73;
}
.c-list--category li input.non-check + label {
  background: #ddd !important;
}

/* 講師：レッスン一覧 */
.c-list--courseLesson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  border-radius: 3px;
  padding: 20px;
  border-bottom: 1px solid #EFEFEF;
}
.c-list--courseLesson .c-list--courseLesson--num {
  width: 50px;
}
.c-list--courseLesson .c-list--courseLesson--num span {
  display: inline-block;
  padding: 1px 5px;
  border-radius: 2px;
  color: #373B50;
  border: 1px solid #373B50;
  font-size: 12px;
}
.c-list--courseLesson .c-list--courseLesson--num .num {
  color: #ED6C73;
  font-weight: 700;
}
.c-list--courseLesson .c-list--courseLesson--title {
  flex: 1;
}
.c-list--courseLesson .c-list--courseLesson--edit {
  width: 110px;
  text-align: right;
}
.c-list--courseLesson .c-list--courseLesson--edit .edit-button {
  display: inline-block;
  width: 50px;
  padding: 3px 0;
  border-radius: 3px;
  background: #fff;
  text-align: center;
}
.c-list--courseLesson .c-list--courseLesson--edit .edit-button.delete {
  border: 1px solid #ED6C73;
  color: #ED6C73;
}

/*# sourceMappingURL=c-list.css.map */
